body {
  background-color: #232323;
  margin: 0;
}

#topic {
  color: #fff;
  text-align: center;
  font-size: 36px;
  line-height: 65px;
  background: #5183B4;
}

#topic span {
  display: block;
  font-size: 65px;
}

#bar {
  background-color: #fff;
  height: 26px;
}

#bar-container {
  width: 70%;
  max-width: 800px;
  min-width: 600px;
  margin: auto;
  position: relative;
}

 #new-color-btn, #easy-btn, #hard-btn{
  line-height: 26px;
  font-size: 18px;
  padding: 0 12px;
  display: inline-block;
  color: #5183B4;
}

#bar span:hover {
  background-color: #5183B4;
  color: #fff;
}

#new-color-btn {
  margin-left: 80px;
}

#message {
  width: 80px;
  margin: 0 18%;
  color: #000;
}

#easy-btn {
  position: absolute;
  right: 140px;
}

#hard-btn {
  position: absolute;
  right: 60px;
}

.square {
  width: 30%;
  margin: 1.66%;
  background: blue;
  float: left;
  padding-bottom: 30%;
  border-radius: 30px;

}

#color-container {
  width: 70%;
  max-width: 800px;
  min-width: 600px;
  margin: 10px auto;
  height: 100px;
}
